* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: $font-size;
	scroll-behavior: smooth;
}

body {
	background-color: #fff;
	color: $color-copy;
	font-family: $font-default;
	font-weight: $font-weight;
	line-height: 1;
	width: 100%;
	overflow-x: hidden;
}

a {
	color: $color-link;
	cursor: pointer;
	text-decoration: none;
}

button {
	cursor: pointer;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: 600;
	line-height: 1.25;
	margin-bottom: 1rem;
}

h2 {
	font-size: rem(26);
	@media (min-width: $breakpoint-ipad) {
		font-size: rem(42);
	}
}

h3 {
	font-size: rem(26);
}

iframe,img,video {
	max-width: 100%;
}
p,ul,ol {
	line-height: 1.5;
	margin-bottom: 1rem;

	&:last-child {
		margin-bottom: 0;
	}
}
