.cta-full {
	@extend .h-center;
	background-color: #eee;
	font-size: rem(26);
	font-weight: bold;
	margin: 0 auto $site-margin;
	padding: 20px;
	text-align: center;
	min-height: 311px;
	width: calc(100% - 2 * #{$site-margin});

	@media (min-width: $breakpoint-ipad) {
		font-size: rem(32);
		margin-bottom: 0;
		width: 100%;
	}

	p {
		line-height: 1.27;
	}
}
