.h-bold {
	font-weight: bold;
}

.h-section-background {
	background-color: $color-section-background;
}

.h-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.h-color-1 {
	color: $color-1;
}

.h-font-size-26 {
	font-size: rem(strip-unit($font-size-26)) !important;
}

.h-font-size-26--desktop {
	@media (min-width: $breakpoint-desktop) {
		font-size: rem(strip-unit($font-size-32)) !important;
	}
}

.h-font-size-32 {
	font-size: rem(strip-unit($font-size-32)) !important;
	@media (min-width: $breakpoint-desktop) {
		font-size: rem(strip-unit($font-size-42)) !important;
	}
}

.h-font-size-32--stick {
	font-size: rem(strip-unit($font-size-32)) !important;
	@media (min-width: $breakpoint-desktop) {
		font-size: rem(strip-unit($font-size-32)) !important;
	}
}

.h-font-size-39 {
	font-size: rem(strip-unit($font-size-39)) !important;
}

.h-font-size-42 {
	font-size: rem(strip-unit($font-size-42)) !important;
}

.h-font-size-42--desktop {
	@media (min-width: $breakpoint-desktop) {
		font-size: rem(strip-unit($font-size-42)) !important;
	}
}

.h-font-size-55--desktop {
	@media (min-width: $breakpoint-desktop) {
		font-size: rem(strip-unit($font-size-55)) !important;
	}
}

.h-margin-0 {
	margin: 0;
}

.h-margin-top-30 {
	margin-top: 30px;
	@media (min-width: $breakpoint-desktop) {
		margin-top: 60px;
	}
}

.h-margin-top-40 {
	margin-top: 40px;
}

.h-margin-bottom-30 {
	margin-bottom: 30px;
}

.h-margin-bottom-40 {
	margin-bottom: 40px;
}

.h-margin-bottom-100 {
	margin-bottom: 100px;
}

.h-overflow-hidden {
	overflow: hidden;
}

.h-text-center {
	text-align: center;
}
