.page-header {
	background-color: $color-2;
	margin-bottom: 80px;

	@media (min-width: $breakpoint-ipad) {
		display: flex;
		position: relative;
		height: 928px;
		overflow: hidden;

		.container,
		.page-header-media {
			flex: 0 0 50%;
			width: 50%;
		}

		.container {
			display: flex;
			align-items: center;
		}

		.page-header-media {
			background-position: center right;
			background-repeat: no-repeat;
			background-size: cover;
			margin-right: 0;

			img {
				visibility: hidden;
			}
		}
	}

	@media (min-width: $breakpoint-desktop) {
		margin-bottom: 150px;
	}
}

.page-header-content {
	background-color: #000;
	color: #fff;
	margin: -160px auto 0;
	padding: 35px 25px;
	position: relative;
	transform: translateY(30px);
	// width: calc(100% - 2 * #{$site-margin});

	@media (min-width: $breakpoint-ipad) {
		margin: 0 0 0 calc(100vw / 12 * -5);
		padding: 100px 100px 120px 106px;
		transform: none;
		max-width: 680px;
		min-height: 543px;
		width: 90vw;
	}

	@media (min-width: $breakpoint-desktop) {
		margin-left: calc(100% / 12 * -4);
	}

	@media (min-width: $breakpoint-site-width) {
		margin-left: calc(100% / 12 * -1.5);
		width: 100%;
	}

	h1 {
		font-size: rem(42);
		line-height: 1.1;

		@media (min-width: $breakpoint-ipad) {
			font-size: rem(63);
			line-height: 1.2;
		}
	}

	p {
		font-size: rem(24);
		line-height: 1.5;
		margin-top: 20px;

		@media (min-width: $breakpoint-ipad) {
			margin-top: 30px;
		}
	}
}

.page-header-media {
	margin-right: $site-margin;

	@media (min-width: $breakpoint-ipad) {
		// position: absolute;
		// bottom: 0;
		// right: 50%;
		text-align: right;
		width: 50%;
	}
}


.page-header--faculty {
	background-color: transparent;
	padding: 0;
	position: relative;

	@media (min-width: $breakpoint-ipad) {
		height: auto;
	}
	// @media (min-width: $breakpoint-desktop) {
	// 	padding: 50px 20px;
	// }
	@media (min-width: $breakpoint-large) {
		padding: 100px;
		position: relative;
	}

	h1 {
		border-top: 4px solid #fff;
		border-bottom: 4px solid #fff;
		margin: 20px 0 30px;
		padding: 30px 0;
		@media (min-width: $breakpoint-desktop) {
			font-size: rem(73);
			font-weight: 700;
		}
	}
	h3 {
		@media (min-width: $breakpoint-desktop) {
			font-size: rem(32);
		}
	}
	h4 {
		@media (min-width: $breakpoint-desktop) {
			font-size: rem(26);
		}
	}

	.container {
		padding: 0;
		@media (min-width: $breakpoint-ipad) {
			align-items: stretch;
			flex: 0 0 100%;
			width: 100%;
		}
	}
	.page-header-content {
		background-color: $color-3;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		margin: 0;
		padding: 50px 50px 100px;
		transform: none;
		width: 100%;
		@media (min-width: $breakpoint-ipad) {
			margin: 0;
			padding: 100px 55px;
			max-width: 701px;
		}
	}
	.page-header-media {
		background-position: left;
		background-repeat: no-repeat;
		border: 4px solid $color-7;
		display: inline-block;
		flex: 1 0 auto;
		margin: -70px 50px 0;
		position: relative;
		z-index: 1;
		width: auto;
		@media (min-width: $breakpoint-ipad) {
			border: 0;
			margin: 0;
		}
		&:after {
			background-color: $color-7;
			content: '';
			display: block;
			position: absolute;
			top: 20px;
			left: 20px;
			z-index: -1;
			width: 100%;
			height: 100%;
			@media (min-width: $breakpoint-ipad) {
				display: none;
			}
		}
		img {
			display: block;
			@media (min-width: $breakpoint-ipad) {
				display: none;
				visibility: hidden;
			}
		}
	}
}

.page-header-background {
	position: absolute;
	top: 0;
	left: 30px;
	width: 100%;
}
.page-header-background__solid {
	background-color: $color-7;
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	// max-width: 35%;
	width: 35%;
	height: 100%;
	@media (min-width: $breakpoint-ipad) {
		display: block;
	}
}
