.page-section-header {
	background-image: url(../images/green-grid.png);
	background-position: -93px 0;
	background-repeat: no-repeat;
	margin-bottom: 50px;
	padding-top: 10px;
	position: relative;

	@media (min-width: $breakpoint-desktop) {
		background-position: 0 0;
		margin: 0 auto 150px;
		padding-top: 100px;
		max-width: 1174px;
		min-height: 1010px; // A little more than the height of green grid.
	}
}

.page-section-header-image {
	margin-bottom: -95px;

	@media (min-width: $breakpoint-desktop) {
		position: absolute;
		top: 160px;
		right: 50%;
	}
}

.page-section-introduction {
	background-color: #fff;
	border: 1px solid $color-2;
	font-size: rem(24);
	line-height: 1.5;
	margin: 0 auto 30px;
	padding: 30px;
	position: relative;
	z-index: 1;
	max-width: 607px;
	width: calc(100% - 2 * #{$site-margin});

	@media (min-width: $breakpoint-ipad) {
		padding: 40px;
	}
}

.page-section-label {
	@extend .h-center;
	color: #000;
	font-size: 1rem;
	position: absolute;
	top: -75px;
	left: 45px;
	z-index: 1;
	width: 120px;
	height: 120px;

	@media (min-width: $breakpoint-desktop) {
		font-size: rem(24);
		width: 160px;
		height: 160px;
	}

	&:before,
	&:after {
		border-radius: 50%;
		content: '';
		display: block;
		position: absolute;
		z-index: -1;
		width: 100%;
		height: 100%;
	}

	&:before {
		background-color: $color-1;
		top: 13px;
		left: 13px;
	}

	&:after {
		background-color: #eee;
		border: 1px solid #000;
		top: 0;
		left: 0;
	}
}

.page-section-title {
	@extend .h-font-size-42;
	background-color: #000;
	color: #fff;
	margin: 0 auto;
	padding: 75px 25px 50px;
	position: relative;
	width: calc(100% - 2 * #{$site-margin});

	@media (min-width: $breakpoint-desktop) {
		margin: 0 0 -200px auto;
		padding: 165px 70px 260px 90px;
		max-width: 680px;
		width: 100%;
	}

	h1 {
		font-size: rem(42);
		margin-bottom: 0;

		@media (min-width: $breakpoint-desktop) {
			font-size: rem(55);
			font-weight: bold;
		}
	}
}
