/* Nav specific */
.slider-nav { /* Default position is absolute */
	display: block;
	position: absolute;
	padding: 0;
	top: 25px;
	left: 0;
	z-index: $layer-sticky-scroll-navigation;
	width: 125px;
}

.slider-nav__item {
	display: flex;
	align-items: center;
	padding: 0 0 20px 0;
	margin-bottom: 0;
}

.slider-links {
	cursor: pointer;
	float: right;
	font-size: rem(12);
	list-style-type: none;
	margin: 0;
	position: relative;
	left: 30px;
	width: 90%;
}

.slider-links:hover,
.slider-nav__item.active {
	color: $color-1;
}

.slider-nav__item.active {
	font-size: rem(14);
	font-weight: bold;
}

.slider-nav__item.active .dash {
	background: $color-1;
	margin-left: 5px;
	width: 37px;
	height: 4px;
}

.dash {
	background: $color-5;
	float: left;
	width: 22px;
	height: 2px;
}

.fix-nav{ /* Active position is fixed */
	position: fixed;
	top: 25px;
	right:0;
}

.hidden { /* Hide when no longer needed (reach footer) */
	display: none;
}
