.slider-nav { /* Default position is absolute */
	display: none;
	position: absolute;
	padding: 0;
	top: 25px;
	left: 0;
	z-index: $layer-sticky-scroll-navigation;
	width: 250px;
}

.slider-nav__item {
	display: flex;
	align-items: center;
	padding: 0 0 20px 0;
	margin-bottom: 0;

	&:hover,
	&.active {
		.dash {
			background: $color-1;
			margin-left: 5px;
			margin-right: 20px;
			width: 37px;
			height: 4px;
		}
		.slider-links {
			color: $color-1;
			font-size: rem(14);
			font-weight: bold;
		}
	}
}

.slider-links {
	color: #333;
	font-size: rem(12);
	transition-duration: .3s;
	width: 25ch;
}

.dash {
	background: $color-5;
	flex-shrink: 0;
	margin-right: 15px;
	transition-duration: .3s;
	width: 22px;
	height: 2px;
}

.fix-nav{ /* Active position is fixed */
	display: block;
	position: fixed;
	top: 25px;
	right:0;
}

.hidden { /* Hide when no longer needed (reach footer) */
	display: none;
}
