// SITE SETTINGS
// Used to calculate other variables
$site-margin: 20px;
$site-width: 1180px;


// BREAKPOINTS
$breakpoint-android: 360px;
$breakpoint-iphone: 375px;
$breakpoint-iphone-plus: 414px;
$breakpoint-mobile: 480px;
$breakpoint-tablet: 600px;
$breakpoint-ipad: 768px;
$breakpoint-desktop: 991px;
$breakpoint-ipad-landscape: 1024px;
$breakpoint-large: 1200px;
$breakpoint-air: 1400px;
$breakpoint-big: 1600px;
$breakpoint-hd: 1900px;

$breakpoint-site-width: $site-width + 2 * $site-margin;

// FONTS
$font-default: 'Source Sans Pro';
$font-family: 'Source Sans Pro';
$font-line-height: 1.2;
$font-size: 18px;
$font-size-18: 18px;
$font-size-26: 26px;
$font-size-32: 32px;
$font-size-39: 39px;
$font-size-42: 42px;
$font-weight: 400;
$font-semibold: 600;
$font-bold: bold;


// COLORS
// Basic colours
$color-1: #934AF4;
$color-2: #AAEDD1;
$color-3: #E5166B;
$color-4: #D9D9D9;
$color-5: #EEE6FC;

// Brands
$color-facebook: #3b5998;
$color-instagram: #c13584;
$color-linkedin: #0077b5;
$color-pinterest: #bd081c;
$color-spotify: #1db954;
$color-twitter: #1da1f2;
$color-youtube: #ff0000;

// Specific colours
$color-active: $color-2;
$color-author-border: $color-4;
$color-copy: #000;
$color-hover: $color-1;
$color-link: $color-3;
$color-section-background: $color-5;

// OTHER VARIABLES
$layer-header: 100;
$layer-sticky-scroll-navigation: 100;
