$site-width: 1110px;

// BREAKPOINTS
$breakpoint-android: 360px;
$breakpoint-iphone: 375px;
$breakpoint-iphone-plus: 414px;
$breakpoint-mobile: 480px;
$breakpoint-tablet: 600px;
$breakpoint-ipad: 768px;
$breakpoint-desktop: 991px;
$breakpoint-ipad-landscape: 1024px;
$breakpoint-large: 1200px;
$breakpoint-air: 1400px;
$breakpoint-big: 1600px;
$breakpoint-hd: 1900px;


// FONTS
$font-default: 'Apercu', sans-serif;
$font-family: 'Apercu', sans-serif;
$font-magazine-heading: 'Libre Baskerville', serif;
$font-magazine-title: 'Frank Ruhl Libre', serif;
$font-line-height: 1.2;
$font-size: 20px;
$font-weight: 300;
$font-semibold: 600;
$font-bold: bold;


// COLORS
// Basic colours
$color-copy: #231f20;

// Brands
$color-facebook: #3b5998;
$color-instagram: #c13584;
$color-linkedin: #0077b5;
$color-pinterest: #bd081c;
$color-spotify: #1db954;
$color-twitter: #1da1f2;
$color-youtube: #ff0000;

// Specific colours
$color-hover: #ff7062;
$color-link: inherit;
$color-link-underline: #ff7062;


// OTHER VARIABLES
$layer-header: 100;
